packages: [
  "atom-beautify"
  "atom-notes"
  "atom-shortcuts"
  "busy-signal"
  "highlight-selected"
  "Hydrogen"
  "intentions"
  "language-latex"
  "language-markdown"
  "latex"
  "linter"
  "linter-ui-default"
  "linter-write-good"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-writer"
  "minimap"
  "one-o-eight-syntax"
  "package-sync"
  "pandoc-convert"
  "pdf-view"
  "pigments"
  "platformio-ide-terminal"
  "scroll-marker"
  "slides-preview"
  "split-diff"
  "tree-view-git-status"
  "unity-ui"
]
